body{
    width: 100%;
	height: 100%;
}

.imgFondo{
    filter: blur(5px);
    width: 70%;
}

.bg-imagen .imagenLogo{
	width: 100%;
	height: 100%;
}
.boxLogin{
    background-color: white;
    width: 30%;
    position: absolute;
	z-index: 2;
    border-radius: 4px;
	display: grid;
	justify-content: center;
	align-items: center;
}

.grad{
	width: 40%;
	z-index: 1;
	opacity: 0.9;
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
	.boxLogin{
		width: 50%;
	}
}

/* Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
	.boxLogin{
		width: 65%;
	}
}

/* Teléfonos */
@media only screen and (max-width: 575px){
	.boxLogin{
		width: 80%;
	}
}
.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

/* .login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	z-index: 2;
} */
.login{
	width: 60%;
}

.login input[type=text]{
	width: 95%;
	height: 30px;
	background: rgb(150, 150, 150);
	border: 2px solid rgba(0, 0, 0, 0.267);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 95%;
	height: 30px;
	background: rgb(150, 150, 150);
	border: 2px solid rgba(0, 0, 0, 0.267);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #d8d8d8;
	border: 2px solid rgba(0, 0, 0, 0.267);
	cursor: pointer;
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.boxLogin a, .boxLogin p{
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
	color: black;
}

.bg-imagen{
	background-image: url("/salonblur.png");
	height: 80vh; 
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* CSS FORMULARIO REGISTRO */
.formlogreg{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: flex;
    justify-content: center;
    align-items: center;
	max-width: 530px;
	overflow: hidden;
	padding: 2em;
	width: 98%;
	background: rgba(255,255,255,0.6);
}
.formlogreg form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.formlogreg form button:hover,
.formlogreg form button:focus,
.formlogreg form button:active,
.formlogreg form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}
.formlogreg form button.success{
	background: #27ae60;
	border-color: #27ae60; 
	color: #fff;
}
@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
.formlogreg form button span.loading-spinner{
	-webkit-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;
	border: 2px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	display: inline-block;
	height: 1em;
	width: 1em;
}

.formlogreg form label{
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.formlogreg form label.col-one-half{
	float: left;
	width: 50%;
}
.formlogreg form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
}
.formlogreg form label input{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}
.formlogreg form label input:focus{
	outline: none;
}
.formlogreg form label input:-webkit-autofill{
	background-color: transparent !important;
}
.formlogreg form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.formlogreg form label.checkbox{
	border-bottom: 0;
	text-align: center;
}
.formlogreg form label.checkbox input{
	display: none;
}
.formlogreg form label.checkbox span{
	font-size: 0.5em;
}
.formlogreg form label.checkbox span:before{
	content: '\e157';
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-size: 1.125em;
	padding-right: 0.25em;
	position: relative;
		top: 1px;
}
.formlogreg form label.checkbox input:checked + span:before{content: '\e067';}
.formlogreg form label.password{position: relative;}
.formlogreg form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.formlogreg form label.password button.toggle-visibility:hover,
.formlogreg form label.password button.toggle-visibility:focus,
.formlogreg form label.password button.toggle-visibility:active{
	color: #000;
	outline: none;
}
.formlogreg form label.password button.toggle-visibility span{vertical-align: middle;}

.formlogreg h1{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
}
.formlogreg h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
.formlogreg .text-center{
	text-align: center;
}
.preglogreg{
    margin-top: 10px;
}
.preglogreg p{
    color: black;
}

.preglogreg a{
    color: white;
}

.preglogreg a:hover{
    color: rgb(250, 79, 79);
}
svg.load{
    height: 126px;
    width: 126px;
    color: black;
}
.contenidosvg{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
svg.load path,
svg.load rect{
  fill: black;
}

@media only screen and (max-width: 751px)  {
	.formlogreg{
		max-width: 400px;
	}
	.imagenLogo{
		display: none;
	}
}